streamlit
pandas
numpy
plotly
scikit-learn

torch
torchvision
transformers
sentence-transformers
faiss-cpu
huggingface-hub
safetensors
tokenizers
sentencepiece

pymupdf
python-docx
python-pptx
openpyxl
xlsxwriter

gTTS
reportlab
requests
python-dotenv
